/*Start Global Styles*/
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
.section-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.section-text {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
/*End Global Styles*/

/*Start Header Style*/

.header .container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo img {
  width: 60px;
}
.header .container .navbar {
  position: relative;
}
.header .container .navbar ul {
  list-style: none;
  display: none;
  transition: all var(--main-duration) ease-in-out;
}
.header .container .navbar ul::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent var(--section-background) transparent;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.header .container .navbar ul li {
  background-color: var(--section-background);
  border-bottom: 1px solid #ddd;
}
.header .container .navbar ul li a {
  padding: 10px 20px;
  width: 100%;
  color: black;
  transition: var(--main-duration);
}
.header .container .navbar .menu-icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.header .navbar .menu-icon span {
  width: 25px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
}
.header .navbar .menu-icon span:nth-child(2) {
  width: 15px;
  transition: all var(--main-duration) ease-in;
  align-self: end;
}
.header .container .navbar:hover .menu-icon span:nth-child(2) {
  width: 25px;
}
.header .container .navbar:hover ul {
  position: absolute;
  top: 185%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 160px;
  z-index: 88;
}
.header .container .navbar ul li a:hover {
  padding-left: 35px;
}
/*End Header Style*/

/*Start landing style*/

.hero {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 68px);
}
.hero .container {
  position: relative;
  height: 100%;
}
.hero .container .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.hero .container .overlay-text h1 {
  font-size: 50px;
  color: var(--main-color);
  font-weight: bold;
}
.hero .container .overlay-text p {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.8;
  margin-top: 20px;
}
/*End landing style*/

/*Start features section*/

.features {
  background-color: #f6f6f6;
  padding: var(--section-padding) 0;
}
.features .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.features .container .item {
  text-align: center;
  width: 300px;
}
.features .container .item i {
  color: var(--main-color);
  font-size: 40px;
}
.features .container .item h3 {
  margin: 20px 0;
}
.features .container .item p {
  color: #777;
  font-size: 17px;
  line-height: 1.8;
}

@media (max-width: 768px) {
  .features .container {
    justify-content: center;
    row-gap: 30px;
  }
}

/*End features section*/

/* Start services section */

.services {
  padding: var(--section-padding) 0;
}

.services .container .items {
  /* display: grid; */
  /* grid-template-columns: 3fr 1fr; */
  display: flex;
  gap: 15px;
  margin-top: 60px;
}
.services .container img {
  width: 260px;
}
.services .container .right-items {
  position: relative;
  flex-basis: 20%;
}
.services .container .right-items::after {
  content: "";
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: -20px;
  z-index: -1;
}
.services .container .items .left-items {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}
.services .container .items .left-items .item {
  display: flex;
  column-gap: 15px;
  flex-basis: calc(100% / 2 - 28px);
}
.services .container .items .left-items i {
  color: var(--main-color);
  display: block;
  flex-basis: 100px;
}
.services .container .items .left-items h4 {
  margin-bottom: 18px;
  font-size: 22px;
}
.services .container .items .left-items p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
@media (max-width: 992px) {
  .services .right-items {
    display: none;
  }
  .services .container .items {
    grid-template-columns: 1fr;
  }
  .services .container .items .left-items {
    column-gap: 20px;
  }
}
@media (max-width: 768px) {
  .services .container .items .left-items {
    flex-direction: column;
    row-gap: 20px;
  }
  .services .container .items .left-items .item {
    flex-basis: content;
  }
}
/* End services section */

/*Start porfolio section*/
.portfolio {
  padding: var(--section-padding) 0;
  background-color: var(--section-background);
}
.portfolio .container .items {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portfolio .container .items .item {
  flex-basis: calc(100% / 3 - 17px);
  background-color: #fff;
}
.portfolio .container .items .item .item-image img {
  max-width: 100%;
}
.portfolio .container .items .item .item-content {
  padding: 26px;
}
.portfolio .container .items .item .item-content p {
  margin-top: 15px;
  color: #777;
  line-height: 1.6;
}
@media (max-width: 991px) {
  .portfolio .container .items .item {
    flex-basis: calc(100% / 2 - 15px);
  }
}
@media (max-width: 768px) {
  .portfolio .container .items {
    /* flex-basis: calc(100% / 2 - 15px); */
    flex-direction: column;
  }
}
/*End porfolio section*/
